<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2013-12-28-introducing-hyde.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30568999</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-06-28-example-bootstrap.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569702</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-07-27-example-css.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569702</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2014-07-28-introducing-shiori.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569601</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-04-hello.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569202</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-04-welcome-to-jekyll.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.305691</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-05-hello-baby.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569798</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-05-writing-like-a-hacker.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569202</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-07-jekyll-template.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569297</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-07-writing-lesson-pre-learn.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569297</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-10-risk-learning.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569398</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-10-risk-of-internet-finance.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.305695</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-02-11-change-career-thinking.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569398</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-12-openmind-notes001.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569202</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-03-16-under-pressure.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.305695</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-09-start-jekyll-journey.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569798</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-10-jekyll-github-blog.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569798</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-14-intrinsic-motivation.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-15-programming-pros-and-cons.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.30569899</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-18-think-homework.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.3057</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-20-rethink-homework.md</key>
			<dict>
				<key>lastModification</key>
				<real>498893387.3057</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-10-22-focus-homework.md</key>
			<dict>
				<key>lastModification</key>
				<real>498902009.25431901</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>9</integer>
				</dict>
			</dict>
			<key>2016-10-23-desicion-homework.md</key>
			<dict>
				<key>lastModification</key>
				<real>498901805.46223998</real>
				<key>version</key>
				<dict>
					<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
					<integer>7</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>498893369.833664</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-10-23-desicion-homework.md</string>
		</array>
		<array>
			<string>2016-10-22-focus-homework.md</string>
		</array>
		<array>
			<string>2013-12-28-introducing-hyde.md</string>
		</array>
		<array>
			<string>2016-02-04-welcome-to-jekyll.markdown</string>
		</array>
		<array>
			<string>2016-03-12-openmind-notes001.md</string>
		</array>
		<array>
			<string>2016-02-05-writing-like-a-hacker.md</string>
		</array>
		<array>
			<string>2016-02-04-hello.md</string>
		</array>
		<array>
			<string>2016-02-07-writing-lesson-pre-learn.md</string>
		</array>
		<array>
			<string>2016-02-07-jekyll-template.md</string>
		</array>
		<array>
			<string>2016-02-10-risk-learning.md</string>
		</array>
		<array>
			<string>2016-02-11-change-career-thinking.md</string>
		</array>
		<array>
			<string>2016-02-10-risk-of-internet-finance.md</string>
		</array>
		<array>
			<string>2016-03-16-under-pressure.md</string>
		</array>
		<array>
			<string>2014-07-28-introducing-shiori.md</string>
		</array>
		<array>
			<string>2014-07-27-example-css.md</string>
		</array>
		<array>
			<string>2014-06-28-example-bootstrap.md</string>
		</array>
		<array>
			<string>2016-02-05-hello-baby.md</string>
		</array>
		<array>
			<string>2016-10-10-jekyll-github-blog.md</string>
		</array>
		<array>
			<string>2016-10-09-start-jekyll-journey.md</string>
		</array>
		<array>
			<string>2016-10-14-intrinsic-motivation.md</string>
		</array>
		<array>
			<string>2016-10-15-programming-pros-and-cons.md</string>
		</array>
		<array>
			<string>2016-10-18-think-homework.md</string>
		</array>
		<array>
			<string>2016-10-20-rethink-homework.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>modificationDate</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>10</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>059aab923eaddc2ae2975c7384c17b56c8134690053c82e3b029099839350844</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
